<div class="container">
    <div class="row">
        <div class="service">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h2>Servicios</h2>
                    <p>
                        Verifica lo que ofrecemos
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
                    <h4>Responsive</h4>
                    <div class="icon">
                        <i class="fa fa-heart-o fa-3x"></i>
                    </div>
                    <p>Buena apariencia tanto en dispositivos moviles como de escritorios</p>
                    <div class="ficon">
                        <a href="#" class="btn btn-default" role="button">Conocer más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
                    <h4>Equipos a la vanguardia</h4>
                    <div class="icon">
                        <i class="fa fa-desktop fa-3x"></i>
                    </div>
                    <p>Poseemeos los mejores equipos para el diseño de su pagina o aplicacion</p>
                    <div class="ficon">
                        <a href="#" class="btn btn-default" role="button">Conocer más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
                    <h4>Rapido trabajo</h4>
                    <div class="icon">
                        <i class="fa fa-location-arrow fa-3x"></i>
                    </div>
                    <p>Poseemos un equipo especializado en el trabajo a menor tiempo</p>
                    <div class="ficon">
                        <a href="#" class="btn btn-default" role="button">Conocer más</a>
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="2.2s">
                    <h4>Quick Support</h4>
                    <div class="icon">
                        <i class="fa fa-laptop fa-3x"></i>
                    </div>
                    <p>Estamos disponible para soporte tecnico 24/7</p>
                    <div class="ficon">
                        <a href="#" class="btn btn-default" role="button">Conocer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
