
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="portfolios">
                <div class="text-center">
                    <h2>¿Quienes somos?</h2>
                    <p>
                        Aprende un poco mas de nosotros
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div >
            <div >
                <div class="text-center">
                    <p>
                        With top level products and services, we are the market technology leader and a partner to the gas and water supply industry. Together with our 85 years of experience in the development of measuring devices, the knowledge accumulated by our own measuring teams contributes significantly to our success.

                        At the Gütersloh location, the innovative devices move through development, design, testing and production before they are finally ready for the market. Throughout there is a particular emphasis on high quality and functionality. And an important factor in our success is our production in Germany.

                        In addition to the sale of measuring devices and services offered by our gas and water leak detection teams, the Sewerin group of companies offers stationary and mobile device maintenance service, development of emergency and leakage service vehicles and servicing and repair of home installations. In addition, a comprehensive program of seminars with our own test track rounds out our spectrum of services.

                        An extensive distribution network consisting of sales engineers, subsidiaries and distribution partners makes success on a global level possible.   
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
